name: Deploy to Cocoapods

on:
  release:
    types: [created]
    
permissions:
  contents: read

jobs:
  build:
    name: Deploy to Cocoapods
    runs-on: macOS-latest
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        egress-policy: audit

    - name: Checkout source branch
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
    
    - name: Install Cocoapods
      run: gem install cocoapods
      
    - name: Publish to CocoaPod
      env:
        COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
      run: |
        pod trunk push --allow-warnings
