name: Deploy to Cocoapods

on:
  release:
    types: [created]
    
permissions:
  contents: read

jobs:
  build:
    name: Deploy to Cocoapods
    runs-on: macOS-latest
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - name: Checkout source branch
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    
    - name: Install Cocoapods
      run: gem install cocoapods
      
    - name: Publish to CocoaPod
      env:
        COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
      run: |
        pod trunk push --allow-warnings
